<div class="kui-flex-wrap">
  <style>
  @media only screen and (orientation : portrait) {
    .img-holder-hp {
      margin-left: -30px;
      height: 160px;
      width: 160px;
    }
  }
  @media screen and (orientation: landscape) {
    .img-holder-hp {
      margin-left: -30px;
      height: 80px;
      width: 80px;
    }
  }
  </style>
  {{#empty}}
    <div style="text-align:center;white-space:pre-wrap!important;word-break:break-word!important;font-weight:bold;">
      <img class="img-holder-hp" src="/img/empty.png"/>
      <div>No Tasks</div>
    </div>
  {{/empty}}
  {{^empty}}
    <ul class="kui-list kai-container">
      {{#tasks}}
      <li class="taskListNav" style="border-bottom:1px dashed #320374;"  @click='selected()'>
        <div class="kui-row-center">
          <span style="width:200px">
            <div style>
              <h5 style="font-weight:bold;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;">{{{ parsed_content }}}</h5>
            </div>
            <div><small>Priority: {{ priority }}</small></div>
            <div>
              <small>Due: <span style="{{#is_due}}color:red;font-weight:bold;{{/is_due}}">{{ due_string }}</span></small>
            </div>
          </span>
          {{#has_subtask}}
          <span style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
            <span style="font-weight:bold;transform: scaleX(-1);">&#128194;</span>
            <span style="margin-top:4px;display:flex;align-items:center;justify-content:center;font-size:10px;font-weight:bold;background-color:#c0c0c0;color:#fff;width:16px;height:16px;border-radius:50%;">{{ total_subtask  }}</span>
          </span>
          {{/has_subtask}}
        </div>
      </li>
      {{/tasks}}
    </ul>
  {{/empty}}
</div>
